<template>
  <div class="alert-dialog" v-show="opened">
      <div class="main">
          <div class="alert-title">{{title}}</div>
          <div class="alert-content">{{ content }}</div>
          <div class="alertButton">
              <div class="sureBtn" @click="close">{{ sure }}</div>
          </div>
      </div>
  </div>
</template>
<script>
export default {
  name: 'alert',
  data () {
      return {
          title:"提示",
          opened:false,
          content:'',
          sure:'确定'
      }
  },
  methods:{
      show (option) {
          this.opened = true;
          option && option.content && (this.content = option.content)
      },
      close () {
          this.opened = false;
      }
  }
}
</script>
<style lang="scss" scoped>
.alert-dialog{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1; 
    .main{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 240px;
        height: 160px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        background-color: #eee;
        border-radius: 10px;
    }
    .alert-title{
        font-size: 20px;
        margin-top: 10px;
    }
    .alert-content {
        margin-top: 8px;
        max-height: 54px;
        overflow: scroll;
    }
    .alertButton {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .sureBtn {
        background-color: #1f9feef7;
        color: #fff;
        padding: 6px 23px 6px 23px;
        border-radius: 5px;
    }
}
</style>
