<template>
  <div class="footer_bottom">
    <div class="footer_item active">
       <router-link :to="{name:'Movie'}" tag="div"> 电影</router-link>
    </div>
    <div class="footer_item">
        <router-link :to="{name:'HelloWorld'}" tag="div">影院</router-link>
    </div>
    <div class="footer_item">
       <router-link :to="{name:'Movie'}" tag="div"> 我的 </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'tab_bottom',
  data () {
    return {
        activeFooter:0,
        tabs: [
            { 
                text: '电影', key: 1, path: '#'
            },
            { 
                text: '影院', key: 2, path: '#cinema'
            },
            { 
                text: '我的', key: 3, path: '#my'
            }
        ]
    }
  },
  methods: {
    triggerTab (index, path) {
      this.activeFooter = index
      location.href = path
    }
  }
}
</script>
<style scoped>
.footer_bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    background: #fff;
    height: 48px;
}
.footer_item{
    flex: 1;
    line-height: 48px;
}
.footer_item.active{
    background: #f85959;
}
</style>
