<template>
  <div class="movieContent">
    <filterBar></filterBar>
    <movie-list city="currentcity" v-on:listevent="onListInfo" ref="childrenName"></movie-list>
  </div>
</template>
<script>
import filterBar from '@/components/FilterBar'
import movieList from '@/components/MovieList'
export default {
  name: 'movie',
  components: {
      filterBar,
      movieList
  },
  props:['city'],
  data () {
      return {
          currentcity: '北京'
      }
  },
  methods: {
    onListInfo: function(info) {
        console.log("get some info from list com");
        console.log(info);
        var dialog = this.$parent.$refs.dialog;
        dialog.show({
          content:info
        });
    }
  },
  mounted () {
    var comp = this.$refs.childrenName;// get children comp
    console.log('children comp : ');
    console.log(comp);
  }
}
</script>
<style scoped>

</style>
