<template>
<div class="navHeader">
    <ul  class="nav">
        <li class="nav_item" v-for="(btn,index) in list"
         :key="btn.key"
         v-bind:class="{active:index === activeIndex}"
         @click="nav_click(index)">{{ btn.text }}</li>
    </ul>
</div>
</template>
<script>
export default {
  name: 'navHeader',
  data () {
    return {
      msg: 'This is a msg from nav component',
      activeIndex: 0,
      list: [
        {
            text: '猫眼电影',
            key: 1
        }
      ]
    }
  },
  methods: {
      nav_click (index) {
          let vm = this;
          vm.activeIndex = index;
      }
  }
}
</script>
<style scoped>
ul,li{
    padding:0;
    margin:0;
    list-style:none
    }
.navHeader {
    position: relative;
}
.navHeader::after {
    clear: both;
}
ul.nav{
    list-style: none;
    position: absolute;
    top: -60px;
    width: 100%;
    display: flex;
}
li.nav_item{
    float: left;
    flex:1;
    background: #28bc53;
    color: #eee;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    overflow: hidden;
}
li.nav_item.active {
    background: #e54847;
}
</style>
