<template>
  <div class="base_btn">默认按钮</div>
</template>
<script>
export default {
  name: 'baseBtn',
  data () {
      return {

      }
  }
}
</script>
<style scoped>
.base_btn {
  font-size: 12px;
}
</style>
