<template>
  <div id="app">
    <alert-dialog ref="dialog"></alert-dialog>    
    <nav-header></nav-header>
    <router-view/>
    <footer-bottom></footer-bottom>
  </div>
</template>

<script>
import navHeader from '@/components/NavHeader'
import footerBottom from '@/components/FooterBottom'
import alertDialog from '@/components/Alert'
export default {
  name: 'App',
  components: {
    navHeader,
    footerBottom,
    alertDialog
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
